{
    "size": 0,
    "query": {
        "filtered": {
            "query": {
                "match_all": {}
            },
            "filter": {
                "and": [
                    {
                        "or": {
                            "filters": [
                                {{#superDepartment}}
                                {
                                	"term" : { "superDepartment.raw" : "{{.}}" }
                                },
                                {{/superDepartment}}
                                {}
                            ]
                        }
                    },
                    {
                        "or": {
                            "filters": [
                                {{#department}}
                                {
                                    "term" : { "department.raw" : "{{.}}" }
                                },
                                {{/department}}
                                {}
                            ]
                        }
                    },
                    {
                        "or": {
                            "filters": [
                                {{#aisle}}
                                {
                                	"term" : { "aisle.raw" : "{{.}}" }
                                },
                                {{/aisle}}
                                {}
                            ]
                        }
                    },
                    {
                        "or": {
                            "filters": [
                                {{#shelf}}
                                {
                                    "term" : { "shelf.raw" : "{{.}}" }
                                },
                                {{/shelf}}
                                {}
                            ]
                        }
                    }
                ]
            }
        }
    },
   "aggs": {
        "superDepartments": {
            "aggs": {
                "departments": {
                    "aggs": {
                        "aisles": {
                            "aggs": {
                                "shelves": {
                                    "terms": {
                                       "size": 0,
                                       "field": "shelf.raw"
                                    }
                                }
                            },
                            "terms": {
                               "size": 0,
                               "field": "aisle.raw"
                            }
                        }
                    },
                    "terms": {
                        "size": 0,
                        "field": "department.raw"
                    }
                }
            },
            "terms": {
                "size": 0,
                "field": "superDepartment.raw"
            }
        }
    }
}
