{
    "from": "{{offset}}", 
    "explain": false,
    "_source": [{{{fields}}}],
    {{#results}}
    "size": "{{limit}}",
    {{/results}}
    {{^results}}
    "size": "0",
    {{/results}}
    {{#price}} "sort":[{"price":{"order": "{{price}}", "mode": "min"}} ], {{/price}}
    "aggs": {
        "new": {
          "filter" : { "term": { "new": "{{store}}" } }
        },
        "offer": {
          "filter" : { "term": { "offer": "{{store}}" } }
        }
        {{#taxonomy}}
        ,"superDepartments": {
          "aggs": {
            "departments": {
              "aggs": {
                "aisles": {
                  "aggs": {
                    "shelves": {
                      "terms": {
                        "field": "shelf.raw",
                        "size": 0
                      }
                    }
                  },
                  "terms": {
                    "field": "aisle.raw",
                    "size": 0
                  }
                }
              },
              "terms": {
                "field": "department.raw",
                "size": 0
              }
            }
          },
          "terms": {
            "field": "superDepartment.raw",
            "size": 0
          }
        }
        {{/taxonomy}}
        {{#filters}}
        ,"brands": {
          "terms": {
            "field": "brand.raw",
            "size": 0
          }
        }
        {{/filters}}
    },
    {{#suggestions}}
    "suggest": {
      "text": "{{{query}}}",
      "check": {
        "term": {
          "suggest_mode": "popular",
          "field": "name"
        }
      }
    },
    {{/suggestions}}
    "query" : {"function_score": {
        "query": { "filtered": {
            "query": {
                "match_all" : {} 
            },
            "filter": {"and": [
                {
                "or": {
                  "filters": [
                    {{#superDepartment}}
                    {
                      "term" : { "superDepartment.raw" : "{{.}}" }
                    },
                    {{/superDepartment}}
                    {}
                  ]
                }
              },
              {
                "or": {
                  "filters": [
                    {{#department}}
                    {
                      "term" : { "department.raw" : "{{.}}" }
                    },
                    {{/department}}
                    {}
                  ]
                }
              },
              {
                "or": {
                  "filters": [
                    {{#aisle}}
                    {
                      "term" : { "aisle.raw" : "{{.}}" }
                    },
                    {{/aisle}}
                    {}
                  ]
                }
              },
              {
                "or": {
                  "filters": [
                    {{#shelf}}
                    {
                      "term" : { "shelf.raw" : "{{.}}" }
                    },
                    {{/shelf}}
                    {}
                  ]
                }
              },
              {
                "or": {
                  "filters": [
                    {{#brands}}
                    {
                      "term" : { "brand.raw" : "{{.}}" }
                    },
                    {{/brands}}
                    {}
                  ]
                }
              },
              {{#IsNew}}
              {
                "query": {
                  "match": {
                    "IsNew": {
                      "query": "{{store}}"
                    }
                  }
                }
              },
              {{/IsNew}}
              {{#new}}
              {
                "query": {
                  "match": {
                    "new": {
                      "query": "{{store}}"
                    }
                  }
                }
              },
              {{/new}}
              {{#tpnb}}
              {
                "query": {
                  "terms": {
                    "tpnb": [{{{tpnb}}}]
                  }
                }
              }, {
                "query": {
                  "term": {
                    "IsHiddenInFavorites": false
                  }
                }
              },
              {{/tpnb}}
              {{#IsSpecialOffer}}
              {
                "query": {
                  "match": {
                    "IsSpecialOffer": {
                      "query": "{{store}}"
                    }
                  }
                }
              },
              {{/IsSpecialOffer}}
              {{#offer}}
              {
                "query": {
                  "match": {
                    "offer": {
                      "query": "{{store}}"
                    }
                  }
                }
              },
              {{/offer}}
                {"term": {"store_price.store": "{{store}}"}},
                {"term": {"store_availability.availability": "1"}},
                {"term": {"store_availability.store": "{{store}}"}},
                {"exists": {"field":"normalPrice"}}
            ]}
        }},
        "functions": [
            {"script_score": {"script": "doc['popularity'].value"}}
        ]
    }}
}
